
<div ng-controller="ClientController" class="row">

    <div class="col-lg-4">
        <form class="form-horizontal">
        <div class="header">
            <h2>Client</h2>
        </div>

        <div class="form-group">
            <label for="internetConnectionType" class="control-label col-sm-6">Internet connection</label>
            <div class="col-sm-6">
                <select id="internetConnectionType" ng-model="data.context.internetConnectionType" class="form-control">
                    <option value="None">None</option>
                    <option value="Roaming">Mobile Roaming</option>
                    <option value="Mobile">Mobile</option>
                    <option value="WiFi">WiFi</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="currentDate" class="control-label col-sm-6">Current date</label>
            <div class="col-sm-6">
                <input id="currentDate" class="form-control" type="text" datepicker-popup="yyyy-MM-dd" ng-model="data.context.currentDate" close-text="Close"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-6">Used mobile data volume</label>
            <div class="col-sm-6">
                <p class="form-control-static">{{data.context.currentDataVolume}} <a class="pull-right" ng-click="resetDataVolume()">Reset</a></p>
            </div>
        </div>

        <h3>Voter configuration</h3>

        <div class="form-group">
            <label for="nearFutureInDays" class="control-label col-sm-6">Near future (in days)</label>
            <div class="col-sm-6">
                <input id="nearFutureInDays" class="form-control" type="text" ng-model="data.context.nearFutureInDays"/>
            </div>
        </div>
        <div class="form-group">
            <label for="dataSizeLimit" class="control-label col-sm-6">Container data size limit</label>
            <div class="col-sm-6">
                <input id="dataSizeLimit" class="form-control" type="text" ng-model="data.context.dataSizeLimit">
            </div>
        </div>
        <div class="form-group">
            <label for="elementCountLimit" class="control-label col-sm-6">Element count limit</label>
            <div class="col-sm-6">
                <input id="elementCountLimit" class="form-control" type="text" ng-model="data.context.elementCountLimit">
            </div>
        </div>
        <div class="form-group">
            <label for="dataVolumeLimit" class="control-label col-sm-6">Mobile data volume limit</label>
            <div class="col-sm-6">
                <input id="dataVolumeLimit" class="form-control" type="text" ng-model="data.context.dataVolumeLimit">
                <span class="help-block">-1 is unlimited</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-6 col-sm-6">
                <button class="btn btn-primary" ng-click="save()">Save</button>
                <button class="btn" ng-click="reload()">Reset</button>
            </div>
        </div>
        </form>
    </div>

    <div class="col-lg-8">
        <div class="header">
            <h2>Events</h2>
        </div>

        <div class="form-group">
            <button class="btn" ng-click="preload()">Preload</button>
            <button class="btn" ng-click="cleanup()">Cleanup</button>
        </div>

        <div class="header">
            <h2>Logs <small>{{data.logs.length}} <small>Live stream</small></small></h2>
            <span class="pull-left">
                <a ng-click="data.logs = []">Clear log</a>
            </span>
            <span class="pull-right">
                <a ng-click="showDetails(true)">Show details</a> |
                <a ng-click="showDetails(false)">Hide details</a>
            </span>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Object</th>
                    <th>Voting result</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="log in data.logs | reverse" ng-class="(log.data.highestVote === 'YES')?{PRELOAD:'success', REMOVE:'danger', 'STORE':'warning'}[log.data.action]:''">
                    <td>{{log.timestamp | date: 'hh:mm:ss,sss'}}</td>
                    <td>{{log.data.metaInfo.title}}</td>
                    <td>{{log.data.action}}<br />{{log.data.highestVote}}</td>
                    <td>
                        <p ng-click="log.showDetails = !log.showDetails" style="cursor: pointer;">Votes: Yes: {{log.data.yesCount}}, No: {{log.data.noCount}}, None: {{log.data.noneCount}}</p>
                        <ul ng-show="log.showDetails">
                            <li ng-repeat="vote in log.data.votes">{{vote.type}} ({{vote.multiplier}}): {{vote.reason}}</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>