<div class="pull-right"><a href="#/control" target="_blank">Open Client Control</a></div>

<div class="header">
        <h1>Vienna Sightseeing Application</h1>
</div>

<div ng-controller="SightController">
    <p>
        <leaflet width="100%"
                 height="300px"
                 markers="data.mapMarkers"
                 center="data.mapCenter">
        </leaflet>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Next visit date</th>
            <th>Data size</th>
            <th>Stored</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="sight in data.sights">
            <td><a href="#/sights/{{sight.id}}">{{sight.title}}</a></td>
            <td>{{sight.nextVisitDate | date}}</td>
            <td>{{sight.size}}</td>
            <td><span class="label" ng-class="sight.stored ? 'label-success' : 'label-danger'">{{sight.stored}}</span></td>
            <td>
                <a ng-click="goToSight(sight)" ng-attr-title="Jump to {{sight.title}}">
                    <i class="fa fa-map-marker"></i></a>
                <a ng-click="toggleStar(sight)"
                   ng-attr-title="{{sight.stared ? 'Stared. Click to unstar' : 'Unstared. Click to star'}} {{sight.title}}">
                    <i class="fa" ng-class="sight.stared ? 'fa-star' : 'fa-star-o'"></i></a>
                <span class="badge pull-right" title="Access count">{{sight.accessCount}}</span>
            </td>
        </tr>
        </tbody>
    </table>

</div>


<div class="footer">
    <p>♥ from Manuel Geier</p>
</div>