<a href="#">Back</a>


<h1>
    <a ng-click="toggleStar(data.sight)">
        <i class="fa" ng-class="data.sight.metaInfo.stared ? 'fa-star' : 'fa-star-o'"></i>
    </a>
    {{data.sight.title}}
</h1>

<div style="float: right;">
    <leaflet width="300px"
             height="300px"
             markers="data.mapMarkers"
             center="data.mapCenter">
    </leaflet>
</div>


<p>Latitude: {{data.sight.latitude}}, Longitude: {{data.sight.longitude}}</p>
<p>Access count: <span class="badge">{{data.sight.metaInfo.accessCount}}</span></p>
<p>Data size: {{data.sight.metaInfo.size}}</p>
<p>Stored: <span class="label" ng-class="data.sight.metaInfo.stored ? 'label-success' : 'label-danger'">{{data.sight.metaInfo.stored}}</span></p>

<div class="form-group">
    <label for="nextVisitDate">Next visit date:</label>
    <input type="text" id="nextVisitDate" datepicker-popup="yyyy-MM-dd" ng-model="data.sight.metaInfo.nextVisitDate"/>
    <button class="" ng-click="saveNextVisitDate(data.sight)">Save</button>
</div>

<h2>Content</h2>
<p>{{data.sight.content}}</p>

<h2>Images</h2>
<p>
<div ng-repeat="image in data.sight.images"
     style="width:100px; height:100px; background-color: lightgray; display: inline-block; margin:5px; text-align:center;">
    <div style="display:inline-block; vertical-align:middle;"><i class="fa fa-camera"></i></div>
</div>
</p>
